@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    height: 100%;
    background-color: #182034;

}

h1 {
    margin: 50px;
    background: -webkit-linear-gradient(#eee, #4ae1d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 72px;
    /*transition: transform 0.3s ease-in-out;*/
}

/*h1:hover{*/
/*    transform: rotate(360deg) scale(1.2);*/
/*}*/

.wrapper {
    border: 5px solid darkgray;
    border-radius: 10px;
    padding: 15px;
    max-width: 350px;
    max-height: 450px;
    margin: auto;
    background-color: #3a4764;
    /*box-shadow: 0 01px rgb(157, 150, 150), 01px 0 rgb(169, 169, 169), 01px 02px rgb(169, 169, 169),*/
    /*02px 01px rgb(169, 169, 169), 02px 03px rgb(169, 169, 169),*/
    /*03px 02px rgb(169, 169, 169), 03px 04px rgb(169, 169, 169),*/
    /*04px 03px rgb(169, 169, 169), 04px 05px rgb(169, 159, 169),*/
    /*05px 04px rgb(169, 169, 169), 05px 06px rgb(169, 169, 169),*/
    /*06px 05px rgb(169, 169, 169), 06px 07px rgb(169, 169, 169),*/
    /*07px 06px rgb(169, 169, 169), 07px 08px rgb(169, 169, 169),*/
    /*08px 07px rgb(169, 169, 169), 08px 09px rgb(169, 169, 169),*/
    /*09px 08px rgb(169, 169, 169), 09px 10px rgb(169, 169, 169), 10px 09px rgb(169, 169, 169);*/
}

.screen {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 80px;

    font-size: 30px;
    border-radius: 10px;
    background-color: #182034;
    color: white;

}
.current,
.previous{
    text-align: end;
    width: 310px;
    height: 40px;
}

/*<- button section start->*/
.button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    width: 315px;
    height: 340px;
    padding-right: 5px;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(211, 150, 150, 0.2), 0 6px 20px 0 rgba(194, 138, 138, 0.19);
    font-weight: 1000;
    width: 70.75px;
    height: 50px;
    border-radius: 8px;
    background-color: #eae3dc;
    border: none;
}


/*<- equal button styling start->*/
.button.equals {
    box-shadow: none;
    background-color: #d03f2f;
    width: 152px;
}

.button.equals:hover {
    background-color: green;
}

/*<- equal button styling end->*/

.button.Del {
    background-color: #637097;
    box-shadow: none;
    color: white;
    font-size: 20px;
}

.button.Del:hover {
    background-color: #d03f2f;
}

/*<- pressed effect start->*/
.button:hover {
    background-color: lightgrey
}

.button:active {
    background-color: lightgrey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*<- pressed effect end->*/

/*<- button section end->*/

/*<-footer start ->*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

.fa-github {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

/*<-footer end ->*/