@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
* {
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    height: 100%;
    background-color: #182034;

}

h1 {
    margin: 50px;
    background: -webkit-linear-gradient(#eee, #4ae1d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 72px;
    /*transition: transform 0.3s ease-in-out;*/
}
/*h1:hover{*/
/*    transform: rotate(360deg) scale(1.2);*/
/*}*/

.wrapper {
    border: 5px solid darkgray;
    border-radius: 10px;
    padding: 15px;
    max-width: 350px;
    max-height: 450px;
    margin:auto;
    background-color: #3a4764;
}

.screen {
    display: flex;
    justify-content: flex-end;
    width: 310px;
    height: 80px;

    font-size: 50px;
    border-radius: 10px;
    background-color: #182034;
    color: white;

}

/*<- button section start->*/
.button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    width: 315px;
    height: 340px;
    padding-right: 5px;
}

.button {
    box-shadow: 0 8px 16px 0 rgba(211, 150, 150, 0.2), 0 6px 20px 0 rgba(194, 138, 138, 0.19);
    font-weight: 1000;
    width: 70.75px;
    height: 50px;
    border-radius: 8px;
    background-color: #eae3dc;
    border: none;
}


/*<- equal button styling start->*/
.button.Equal {
    box-shadow: none;
    background-color: #d03f2f;
    width: 152px;
}
.button.Equal:hover{
    background-color: green;
}
/*<- equal button styling end->*/

.button.Del {
    background-color: #637097;
    box-shadow: none;
    color: white;
    font-size: 20px;
}
.button.Del:hover{
    background-color: #d03f2f;
}

/*<- pressed effect start->*/
.button:hover {
    background-color: lightgrey
}

.button:active {
    background-color: lightgrey;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*<- pressed effect end->*/

/*<- button section end->*/

/*<-footer start ->*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: white;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}
.fa-github {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
/*<-footer end ->*/